form {
    width: 500px;
    margin: auto;
}

input,
textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
}

input:hover,
textarea:hover {
    background-color: #888888;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

#sexo {
    width: 150px;
}

#user {
    background: url(imagens/_imagens/icone-contato.png) no-repeat 95% 95%;
}

#andress {
    background: url(imagens/_imagens/icone-endereco.png) no-repeat 95% 95%;
}

#chat {
    background: url(imagens/_imagens/icone-mensagem.png) no-repeat 95% 95%;
}


#pedido {
    background: url(imagens/_imagens/icone-pagamento.png) no-repeat 95% 95%;
}