#AF {
    width: 700px;
    margin: 0, auto;
    padding: 50px;
    overflow: hidden;
    list-style: none; 
}

#AF li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .5s ease-in;
}

#AF li#foto1 {
    background: url(imagens/_imagens/galeria-01.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#AF li#foto2 {
    background: url(imagens/_imagens/galeria-02.jpg);
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#AF li#foto3 {
    background: url(imagens/_imagens/galeria-03.jpg);
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#AF li#foto4 {
    background: url(imagens/_imagens/galeria-04.jpg);
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;

}

#AF li#foto5 {
    background: url(imagens/_imagens/galeria-05.jpg);
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#AF li#foto6 {
    background: url(imagens/_imagens/galeria-06.jpg);
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#AF li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .2);
    font-size: 9pt;
    line-height: 370px;
padding: 5px;
}
#AF li:hover span{
    opacity: 1;
}
#AF li#foto1:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li#foto2:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li#foto3:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li#foto4:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li#foto5:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li#foto6:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#AF li:hover{
    -webkit-transform: scale(1.5);
}